.navbar-brand{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 1.5rem;
    background-image: linear-gradient(to bottom right, rgb(23, 198, 211), rgb(14, 115, 122));

}
#Visualizations{
    margin: 2%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(14, 115, 122);
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(14, 115, 122);    
}
